
<html>
<head>
    <title>Mind the Gap</title>
    <link rel="stylesheet" href="/style.css">
    <script src="main.js"></script>
</head>
<body>
            <!-- audio -->
    <audio id="noise" src="/audio/1noise.wav" loop></audio>
    <audio id="door" src="/audio/closingdoor.wav"></audio>
    <audio id="train" src="/audio/3train.wav" loop></audio>

    <div id="world">
        <!-- 1 -->
    <section class="scene" id="scene1">
<h1 class="title">Mind the Gap</h1>
</section>


<section class="scene" id="bridge-scene">
    <div class="bridge-text">
        <p>No signal underground<br>So look around</p>
        <p class="instruction">Click the person and leave what you've found</p>
    </div>
</section>

        <!-- 2 -->

<section class="scene" id="scene2">
    <div id="scene-door">
        <img src="/pic/doorL.png" id="doorLeft" class="door-img">
        <img src="/pic/doorR.png" id="doorRight" class="door-img">
    </div>
</section>

        <!-- 3 -->
             <div id="observation-form-container" style="display: none;">
        <form id="obs-form">
            <input type="text" id="obs-input" placeholder="A stranger, a moment..." required>
            <button type="submit">Leave a line</button>
        </form>
    </div>
        <section class="scene" id="scene3">
            <div id="trainBackground"></div>
            <div id="peopleLayer">
             <img class="person" src="/pic/people/IMG_9065.png">
              <img class="person" src="/pic/people/IMG_9066.png">
                 <img class="person" src="/pic/people/IMG_9067.png">
                    <img class="person" src="/pic/people/IMG_9068.png">
                       <img class="person" src="/pic/people/IMG_9069.png">
                          <img class="person" src="/pic/people/IMG_9070.png">
                             <img class="person" src="/pic/people/IMG_9071.png">
                                <img class="person" src="/pic/people/IMG_9072.png">
                                   <img class="person" src="/pic/people/IMG_9073.png">
                                      <img class="person" src="/pic/people/IMG_9074.png">
                                         <img class="person" src="/pic/people/IMG_9075.png">
                                        <img class="person" src="/pic/people/IMG_9076.png">
                                     <img class="person" src="/pic/people/IMG_9077.png">                     
                                       <img class="person" src="/pic/people/IMG_9078.png">
                  <img class="person" src="/pic/people/IMG_9079.png">
               <img class="person" src="/pic/people/IMG_9080.png">
      <img class="person" src="/pic/people/IMG_9081.png">
      <img class="person" src="/pic/people/IMG_9082.png">
      <img class="person" src="/pic/people/IMG_9083.png">
       <img class="person" src="/pic/people/IMG_9084.png">
        <img class="person" src="/pic/people/IMG_9085.png">
         <img class="person" src="/pic/people/IMG_9086.png">
          <img class="person" src="/pic/people/IMG_9087.png">
           <img class="person" src="/pic/people/IMG_9088.png">
            <img class="person" src="/pic/people/IMG_9089.png">
             <img class="person" src="/pic/people/IMG_9090.png">
    
                </div>
        </section>
    </div>

</body>
</html>